<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="open.cklan.com.interviewlibrary">
    <application
        android:name=".category.day8_launchmode.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.NoteActivity"></activity>
        <!-- day1 -->
        <activity android:name=".category.day1_service.Day1_ServiceActivity"></activity>
        <service android:name=".category.day1_service.Day1Service"/>
        <service android:name=".category.day1_service.Day1IntentService"/>
        <!--<receiver android:name=".category.day1_service.Day1_ServiceActivity$Receiver"/>-->

        <!-- day2 -->
        <activity android:name=".category.day2_broadcast.Day2BroadcastActivity"/>

        <!-- day3 -->
        <activity android:name=".category.day3_activity.Day3Activity"/>
        <activity android:name=".category.day3_activity.Day3SencondActivity"/>
        <activity android:name=".category.day3_activity.Day3DialogActivity" android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>

        <!-- day4 -->
        <activity android:name=".category.day4_view_save_state.Day4ViewSaveStateActivity"/>

        <!-- day5 -->
        <activity android:name=".category.day5_language.Day5LanguageActivity"/>

        <!-- day6 -->
        <activity android:name=".category.day6_asynctask.Day6AsyncTaskActivity"/>

        <!-- day7 -->
        <activity android:name=".category.day7_contentProvider.Day7ContentProviderActivity"/>
        <provider
            android:authorities="open.cklan.com.interviewlibrary.category.day7_db_contentprovider"
            android:name=".category.day7_contentProvider.db.DBContentProvider"
            android:exported="true"/>
        <provider
            android:authorities="open.cklan.com.interviewlibrary.category.day7_sp_contentprovider"
            android:name=".category.day7_contentProvider.sp.SPContentProvider"
            android:exported="true"/>
        <service android:name=".category.day7_contentProvider.Day7RemoteService"
            android:process=":day7_remote"/>

        <!-- day8 -->
        <activity android:name=".category.day8_launchmode.StandardActivity" android:launchMode="standard" />
        <activity android:name=".category.day8_launchmode.SingleTopActivity" android:launchMode="singleTop"/>
        <activity android:name=".category.day8_launchmode.SingleTaskActivity" android:launchMode="singleTask" android:taskAffinity="open.cklan.custom.task"/>
        <activity android:name=".category.day8_launchmode.SingleInstanceActivity" android:launchMode="singleInstance"/>
    </application>

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

</manifest>